---
const {frontmatter} = Astro.props
---

<h1>{frontmatter.title}</h1>
<p>Escrito por {frontmatter.author}</p>
<p>Publicado em: {frontmatter.pubDate.slice(0,10)}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt}>
<slot />