---
const pageTitle = "Sobre Mim"

const identify = {
  firstName: "EdiJunior",
  country: "Maceió",
  ocupation: "Desenvolvedor Front-End",
  hobbies: ["video-game", "cinema", "animes", "tecnologia", "ciência espacial"],
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Vue", "Astro", "TypeScript", "Nuxt", "NextJS", "TailWind CSS"]

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">Início</a>
    <a href="/about">Sobre</a>
    <a href="/blog">Blog</a>

		<h1>{pageTitle}</h1>
    <h2>... e meu novo site Astro!</h2>

    {happy && <p>Estou feliz em estar aprendendo Astro!</p>}

    {finished && <p>Eu terminei esse tutorial</p>}

    {goal === 3 ? <p>Minha meta é terminar em 3 dias.</p> : <p>Minha meta não em 3 dias.</p>}

    <p>Este site será atualizado enquanto eu completo mais desse tutorial, então continue verificando e veja como minha jornada está indo!</p>

    <p>Aqui estão alguns fatos sobre mim:</p>
    <ul>
      <li>Meu nome é {identify.firstName}</li>
      <li>Eu moro em {identify.country} e eu trabalho como {identify.ocupation}.</li>
      {identify.hobbies.length >= 2 && <li>Dois dos meus hobbies são: {identify.hobbies[0]} e {identify.hobbies[1]}	</li>}
    </ul>

    <p>Minhas habilidades são:</p>
    <ul>
      {skills.map((habilidade) => <li>{habilidade}</li>)}
    </ul>
	</body>
</html>
